[data-widget="yr2"] {
  height: 100%;
  padding: 5px;
  background: #81c6dd;
  text-align: center;
}
[data-widget="yr2"] h1 {
  font-size: 42.5px;
  margin: 0;
}

[data-widget="yr2"] table {
  margin: 0 8.5px 0 8.5px;
  text-align: left;
  border-collapse: collapse;
}

[data-widget="yr2"] table.today tr:first-child {
  font-weight: bolder;
}

[data-widget="yr2"] table td {
  height: 23px;
}

[data-widget="yr2"] img {
  width: 20px;
}
